<nav class="navbar navbar-expand-lg bg-info bg-gradient bg-opacity-75">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" routerLink="/">{{ 'Elo Book Store' | translate }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"> {{ 'Home' | translate }}</a>
          </li>
        </ul>
        <button class="btn btn-outline-light btn-sm text-dark me-3">
          <i class="fa-solid fa-cart-shopping"></i>
          <span style="top: 10px;height: 20px;right: 90px;" class="position-absolute top-1 translate-middle badge rounded-pill bg-danger">
            {{count}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <select class="btn btn-outline-light btn-sm text-dark" (change)="switchLanguage($event)">
          <option value="en">English</option>
          <option value="tr">Türkçe</option>
        </select>
      </div>
    </div>
  </nav>